body {
  background-image: url(https://upload.wikimedia.org/wikipedia/commons/3/31/Ashbourne_portrait_ShakespeareHamersley.jpg);
  background-size: cover;
  font-family: monospace;
}

.text {
  margin-top: 10%;
  margin-left: 70%;
  margin-right: 5%;
  min-width: 300px;
  /*background: blue;*/
}
h1, h3 {
  text-align: center;
  color: white;
  font-size: 2.5em;
  /*margin-right: 10%;*/
}

input {
  margin-left: 20%;
  height: 20px;
  width: 150px;
}

button {
  height: 20px;
  width: 50px;
}
.poem-line, .userAsked {
  text-align: center;
  font-size: 2em;
  color: white;
  padding: auto;
  /*margin-right: 10%;*/
}
